<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <form id="convo-form">
    <input type="text" id="name" name="name">
    <input type="text" id="birthday" name="birthday">
    <input type="text" id="email" name="email">
    <input type="text" id="password" name="password">
    <input type="text" id="more" name="name">
    <input type="text" id="inputs" name="birthday">
    <input type="text" id="to" name="email">
    <input type="text" id="put" name="password">
  </form>
</body>

</html>
